/* 기본 사이드바 스타일 */
.sidebar {
  min-width: 18vh;
  background-color: #001F3F !important ;
  color: white;
  height: 100vh;
  transition: width 0.3s ease;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 사이드바 닫혔을 때 */
.sidebar-closed {
  width: 60px;
}
  
  /* 로고 중앙 정렬 */
.sidebar-footer {
  margin-top: auto;
  margin-bottom : 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
  
  
/* 아이콘과 텍스트 정렬 */
.sidebar-cluster svg {
  margin-right: 10px;
}
  
/* 사이트 이름 스타일 */
.site-name {
  font-size: 30px;
  font-weight: bold;
  color: #FAFAFA;
  text-align: center;
  margin-top: 5px;
}

/* 로고 & 사이트 이름을 포함하는 컨테이너 */
.logo-container {
  display: flex;
  flex-direction: column; /* ✅ 로고와 사이트 이름을 세로 정렬 */
  align-items: center;
}

.sidebar-header {
  /* position: absolute; */
  width: 100%;
  text-align: center;
  padding: 10px 5px;
}

.header-logo {
  margin-top: 10px;
  max-width: 90%;
  max-height: 90%;    /* ✅ 로고의 최대 높이를 제한해줌 */
  height: auto;
  object-fit: contain;
  opacity: 0.8;
}

/* Menu Section */
.menu-section {
  width: 100%;
  margin-top: 20px;
}

.sidebar-menu {
  width: 100%;
  padding: 10px 15px;
  background-color: 610B4B;
  color: #FAFAFA;
  font-weight: bold;
  display: flex;              /* ✅ 수평 정렬 */
  justify-content: space-between; /* ✅ 좌우 정렬 */
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 0;
}

.menu-icon {
  display: flex;
  align-items: center;
}


.sidebar-menu:hover {
  background-color: #FE2EF7;
}

/* 하위 메뉴 영역 */
.submenu {
  width: 100%;
  background-color: #d0f0ff;
}

/* 하위 메뉴 항목 */
.submenu-item {
  width: 100%;
  padding: 8px 15px;
  font-size: 14px;
  text-align: left;
  background-color: transparent;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 0;
}

.submenu-item:hover {
  background-color: #b0d4e3;
}

.sidebar-divider {
  width: calc(100% - 20px); /* 좌우 각각 10px */
  height: 1px;
  background-color: #FAFAFA;
  margin: 10px auto 5px auto; /* 상하 여백 + 가운데 정렬 */
}

/* 메뉴 아이콘 로코 */
.menu-icon-left {
  margin-right: 10px;
  align-items: center;
  display: flex;
}

.menu-label {
  flex-grow: 1;
  text-align: left;
}